ul{
    background-color: blue;
    list-style-type: none;
    padding-left: 0;
/* list-style-position: inside; */


}

table{
    width: 100%;
    border-collapse: collapse;
}


th,td{
    border: 1px solid black;
    padding: 5px;
}

th{
    background-color: tomato;
    color: white;
    text-align: left;
}

tr:hover{
background-color: #aaa;
cursor: pointer;
}

tr:nth-child(even){
background-color: #eee;
}